body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #cbdcef;
    background-image: linear-gradient(210deg, #cbdcef 0%, #7719da 100%);
    width: 300px;
}

ul {
    list-style: none;
    padding-left: 20px;
}

img {
    max-width: 20px;
    height: auto;
}