.button {
    
    width: 170px;
    height: 35px;
    background: rgb(128, 42, 128);
    padding: 12px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    cursor: pointer;
    box-shadow: 0 9px #999;
}
.button:hover {background-color: rgb(163, 74, 163)}

.button:active {
  background-color: rgb(163, 74, 163);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    padding-bottom: 0;
    margin-bottom: 15px;
    margin-top: 10px;
}
p{
    font-size: 30px;
}
h2{
    font-size: 30px;
    margin-top: 0;
}
ul{
    font-size: 20px;
    text-align: center;
    list-style-position: inside;
    left: 31vw;
    bottom: 25vh;
    margin-bottom: 15px;
    
}
.list{
    border: solid 8px rgb(108, 26, 108);
    margin-bottom: 15px;
}

li{
    margin-left: 0;
    text-align: center;
}
body{
    background-color: rgb(171, 171, 207);
    height: 100vh;
    margin: 0;
}
.content{
    position: absolute;
    left: 19vw;
    bottom: 20vh;
    text-align: center; 
}
image{
    height: 50px;
    width: 50px;
}

